<ul>
  <% @db_schemas.each do |db_schema| %>
    <li><%= link_to db_schema.name, db_schema_path(db_schema) %></li>
  <% end %>
</ul>
<div class="wrapper">
  <div class="container">
    <div class="schemas my-schemas">
      <div class="schemas-headbar my-schemas-headbar">
      </div>
      <div class="schemas-cards my-schemas-cards">
        <div class="card">
        </div>
      </div>
    </div>
    <div class="schemas other-schemas">
      <div class="schemas-headbar other-schemas-headbar">
      </div>
      <div class="schemas-cards other-schemas-cards">
        <div class="card">
        </div>
      </div>
    </div>
  </div>
</div>
