<div class="wrapper">
  <div class="container">
    <div class="schemas my-schemas">
      <div class="schemas-headbar my-schemas-headbar">
      </div>
      <div class="schemas-cards my-schemas-cards">
        <% @db_schemas.each do |schema| %>
          <div class="db-card">
            <div class="card-top">
              <h3><%= schema.name %></h3>
              <p>Last change : <%= schema.updated_at.strftime('%m/%d/%Y') %></p>
            </div>
            <div class="card-bottom">
              <div class="left-infos">
                <div class="left-infos-content">
                  <%= image_tag 'man.svg'%>
                  <p class="left-infos-text">5 contributors</p>
                </div>
                <div class="left-infos-content">
                  <%= image_tag 'database_number.svg'%>
                  <p class="left-infos-text">3 tables</p>
                </div>
              </div>
              <div class="contributors">
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="schemas other-schemas">
      <div class="schemas-headbar other-schemas-headbar">
      </div>
      <div class="schemas-cards other-schemas-cards">
        <div class="db-card">
        </div>
      </div>
    </div>
  </div>
</div>
