<div class="container">
  <div class="row">
    <div class="col">
      <%= @db_schema.content %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= link_to "Edit DB Schema", edit_db_schema_path(@db_schema) %>
    </div>
  </div>
</div>
